.site-author-image {
  display: block;
  margin: 0 auto;
  padding: $site-author-image-padding;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
  border: $site-author-image-border-width solid $site-author-image-border-color;
  //设置圆形
  border-radius: 50%;
  -webkit-animation:rotateImg 10s linear infinite;
}
@keyframes rotateImg {
  0% {transform : rotate(0deg);} /* 动画起始帧*/
  100% {transform : rotate(360deg);} /*动画结束帧*/
}
.site-author-image:hover{
  -webkit-animation-play-state: paused;
}


