body {
  background: url(/images/jerry_home.jpeg);       //https://source.unsplash.com/random
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:50% 50%;
  background-size:cover;
}

.main-inner {
  margin-top: 60px;
  padding: 60px 60px 60px 60px;
  background: #FFFFF0;
  opacity: 0.8;
  min-height: 500px;
}

