.site-author-image {
  border: $site-author-image-border-width solid $site-author-image-border-color;
  max-width: $site-author-image-width;
  padding: 2px;

  if (hexo-config('avatar.rounded')) {
    border-radius: 50%;
  }

  if (hexo-config('avatar.rotated')) {
    -webkit-animation:rotateImg 10s linear infinite;

    &:hover {
      -webkit-animation-play-state: paused;
    }

  }
}

@keyframes rotateImg {
  0% {transform : rotate(0deg);} /* 动画起始帧*/
  100% {transform : rotate(360deg);} /*动画结束帧*/
}

.site-author-name {
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
  margin: $site-author-name-margin;
}

.site-description {
  color: $site-description-color;
  font-size: $site-description-font-size;
  margin-top: $site-description-margin-top;
}
